.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.some {
    background: lightgreen;
}

.some-text {
    color: darkslateblue;
}

.yellow {
    background: yellow;
}

.white {
    background: white;
}

.blue {
    background: blue;
}

.blue-text {
    color: aliceblue;
}

.item {
    margin: 20px;
    padding: 5px;
    display: inline-block;
    background-color: cadetblue;
    border: 1px black solid;
    border-radius: 10px;
}