.wrapper {

}

.affairsBlock {
    margin: 10px;
    box-sizing: border-box;
    border: 2px solid;
    width: 440px;
}

.list {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    background-color: yellow;
}

.name {
    font-size: 18px;
    color: darkgreen;
}

.priority {
    font-size: 18px;
}

.active {
    background-color: green;

}

.button {
    margin-left: 10px;
    font-size: 18px;
    margin-right: 30px;
    padding: 0 20px 0 20px;
    border: 2px green solid;
    border-radius: 5px;
}

.delBtn {
    display: inline;
    color: black;
    border-radius: 5px;
}
