.superInput {
    margin: 10px;
    background: #8ab78d;
    color: #bbfbbc;
}
.input:focus{
    outline: none;
    border: rgba(18, 18, 18, 0.87) solid 5px;
}
.errorInput {
    margin: 10px;
    border: 2px solid red;
    background: #e9f3ea;
}

.error {
    color: red;
    height: 20px;
    margin-left: 10px;
}